.landing-top {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  height: 80%;
  max-height: 900px
}

.whiskey {
  height: 400px;
  width: 400px;
  border-radius: 200px;
}

.description {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-between;
  height: 250px;
}

.description a {
  text-decoration: none;
}

.text {
  width: 35ch;
  font-size: 1.1rem;
  color: black;
  text-align: center;
}

.btn {
  margin-top: 20px;
  background: rgb(255,95,109);
  background: linear-gradient(90deg, rgba(255,95,109,1) 33%, rgba(255,195,113,1) 71%);
  border-radius: 20px;
  padding: 20px 100px;
  font-weight: bold;
  font-size: 1.1rem;
  color: black;
}

.btn:hover {
  transition: all 0.8s;
  box-shadow: 12px 12px 16px 0 rgba(0,3,3,1);
  Color: #040303
}

footer {
  height: 10vh;
}

@media (max-width: 1000px) {
  section {
    flex-direction: column;
  }

    .whiskey {
      height:250px;
      width: 250px;
    }

    .text {
      font-size: 16px;
    }

    .btn {
      padding: 20px 40px
    }
}

@media (max-width:350px ) {
    .text {
      font-size: 12px;
    }
    .btn {
      padding: 10px 30px;
    }
    .whiskey {
      height: 200px;
      width: 200px;
    }
}