.foot {
  height: 10vh;
  background-color: black;
  text-align: center;
  color: #C95d63;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.foot p {
  background: -webkit-linear-gradient(90deg,#ff5f6d 33%, #ffc371 71%);
  background-clip:inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 402px) {
    .foot p {
      font-size: 14px
    }
}