.head {
  background-color: black;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head a {
  text-decoration: none;
  background: -webkit-linear-gradient(#ff5f6d, #ffc371);
  background-clip:inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  font-weight: bold;
}

.head a:visited {
  color:teal
}

@media (max-width: 402px) {
  .head a {
    font-size: 26px;
  }
}