.head {
  background-color: black;
  height: 100px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head > h1 {
  color: teal;  
  letter-spacing: 5px;
  font-weight: bold;
}