

.solo {
  min-height: 80vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.cocktail-solo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.drink-image-solo {
  height: 400px;
  width: 400px;
}

.ingreds-solo {
  width: 400px;
  text-align: center;
  display:flex;
  flex-direction: column;
}

.ingreds-solo *{
  margin: 6px 20px;
}

.drkTitle-solo {
  font-size: 2rem;
}

.wyn-solo {
  font-size: 1.5rem;
  text-decoration: underline;
}

.build-solo {
  font-size: 1.3rem;
  text-align: left;
}

.instruct-solo {
  font-size: 1rem;
}

.spirit-reset {
  color: orange;
  text-decoration: none;
  font-size: 1.5rem;
  text-align: center;
}

.spirit-reset:visited {
  color: orange;
}

.spirit-reset p {
  margin-top: 50px
}

@media (max-width: 900px) {
    .cocktail-solo {
      flex-direction: column;
    }
}

@media (max-width: 500px) {
  .drink-image-solo {
    height: 250px;
    width: 250px;
  }
  .drkTitle-solo {
    font-size: 1.5rem;
  }
  .wyn-solo {
    font-size: 1rem;
  }
  .build-solo{
    font-size: .8rem 
  }
  .instruct-solo {
    font-size: .7rem
  }
}