.new-spirit-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.new-spirit-container *{
  text-decoration: none;
  margin: 50px 0;
}

.new-spirit-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}



.new-spirit-selector {
  margin: 0 10px;
  border-radius: 20px;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 2rem;
  color: black;
}
/* 
.random {
  font-size: 12px;
} */

.new-spirit-selector:hover {
  transition: all 0.8s;
  box-shadow: 5px 5px 9px 0 rgba(0,3,3,1);
  Color: white;
  background-color: black;
}

.new-spirit-selector a{
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
}

.new-spirit-selector a:visited {
  color: black;

}


.current{
  margin-top: 20px;
  font-size: 2rem;
}

@media (max-width: 950px) {
  .new-spirit-selector {
    padding: 10px 20px;
    font-size: 14px ;
  }
}

@media (max-width: 800px) {
  .new-spirit-selector {
    padding: 5px;
    font-size: 12px;
  }
  .current {
    font-size: 25px
  }
}

@media (max-width: 500px) {
  .new-spirit-selector {
    font-size: 7px;
  }
  .current {
    font-size: 16px;
  }
}